	/*
  	Flaticon icon font: Flaticon
  	Creation date: 11/02/2020 23:36
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-technology:before { content: "\f100"; }
.flaticon-apple-logo:before { content: "\f101"; }
.flaticon-technology-1:before { content: "\f102"; }
.flaticon-logout:before { content: "\f103"; }
.flaticon-technology-2:before { content: "\f104"; }
.flaticon-voip1:before { content: "\f105"; }
.flaticon-evil1:before { content: "\f106"; }
.flaticon-computer11:before { content: "\f107"; }
.flaticon-vincent1:before { content: "\f108"; }
.flaticon-operating2:before { content: "\f109"; }
.flaticon-approve:before { content: "\f10a"; }
.flaticon-home-page:before { content: "\f10b"; }
.flaticon-computer195:before { content: "\f10c"; }
.flaticon-return-button:before { content: "\f10d"; }
.flaticon-connection30:before { content: "\f10e"; }
.flaticon-internet72:before { content: "\f10f"; }
.flaticon-internet-connection:before { content: "\f110"; }
.flaticon-data2:before { content: "\f111"; }
.flaticon-wrong:before { content: "\f112"; }
.flaticon-male12:before { content: "\f113"; }
.flaticon-camera32:before { content: "\f114"; }
.flaticon-car-speedometer:before { content: "\f115"; }
.flaticon-google-plus-symbol:before { content: "\f116"; }
.flaticon-arrows:before { content: "\f117"; }
.flaticon-sign:before { content: "\f118"; }
.flaticon-garbage-with-recycle-sign-overflowing-with-trash:before { content: "\f119"; }
.flaticon-stack-overflow:before { content: "\f11a"; }
.flaticon-overflowing-stacked-papers-tray:before { content: "\f11b"; }
.flaticon-computer-setting-outline-interface-symbol-in-a-circle:before { content: "\f11c"; }
.flaticon-maths-sign-if-and:before { content: "\f11d"; }
.flaticon-menu48:before { content: "\f11e"; }
.flaticon-right-and-left-arrows-with-vertical-line-in-the-middle:before { content: "\f11f"; }
.flaticon-up-and-down-arrows-with-a-line-in-the-middle:before { content: "\f120"; }
.flaticon-virus4:before { content: "\f121"; }
.flaticon-checkmark21:before { content: "\f122"; }
.flaticon-box-on-hand:before { content: "\f123"; }
.flaticon-surveillance-camera:before { content: "\f124"; }
.flaticon-directional-wooden-signs:before { content: "\f125"; }
.flaticon-square:before { content: "\f126"; }
.flaticon-computer-configuration:before { content: "\f127"; }
.flaticon-arrows-1:before { content: "\f128"; }
.flaticon-move-arrows:before { content: "\f129"; }
.flaticon-arrows-2:before { content: "\f12a"; }
.flaticon-arrows-3:before { content: "\f12b"; }
.flaticon-arrows-4:before { content: "\f12c"; }
.flaticon-valid-document:before { content: "\f12d"; }
.flaticon-tool799:before { content: "\f12e"; }
.flaticon-cogwheel8:before { content: "\f12f"; }
.flaticon-stamp:before { content: "\f130"; }
.flaticon-world-location:before { content: "\f131"; }
.flaticon-eagle:before { content: "\f132"; }
.flaticon-shapes:before { content: "\f133"; }
.flaticon-thoth:before { content: "\f134"; }
.flaticon-eye-of-ra:before { content: "\f135"; }
.flaticon-cloud-data:before { content: "\f136"; }
.flaticon-shield:before { content: "\f137"; }
.flaticon-geolocalization:before { content: "\f138"; }
.flaticon-customer-service:before { content: "\f139"; }
.flaticon-stop:before { content: "\f13a"; }
.flaticon-linux:before { content: "\f13b"; }
.flaticon-cloud-computing:before { content: "\f13c"; }
.flaticon-http:before { content: "\f13d"; }
.flaticon-file:before { content: "\f13e"; }
.flaticon-file-1:before { content: "\f13f"; }
.flaticon-clock:before { content: "\f140"; }
.flaticon-settings:before { content: "\f141"; }
.flaticon-settings-1:before { content: "\f142"; }
.flaticon-chronometers:before { content: "\f143"; }
.flaticon-exam:before { content: "\f144"; }
.flaticon-invoice:before { content: "\f145"; }
.flaticon-technology-3:before { content: "\f146"; }
.flaticon-next:before { content: "\f147"; }
.flaticon-backup:before { content: "\f148"; }
.flaticon-refresh2:before { content: "\f149"; }
.flaticon-information-button:before { content: "\f14a"; }
.flaticon-policeman:before { content: "\f14b"; }
.flaticon-sending:before { content: "\f14c"; }
.flaticon-watch:before { content: "\f14d"; }
.flaticon-standing18:before { content: "\f14e"; }
.flaticon-falcon1:before { content: "\f14f"; }
.flaticon-person128:before { content: "\f150"; }
.flaticon-undo3:before { content: "\f151"; }
.flaticon-wireless4:before { content: "\f152"; }
.flaticon-conversion:before { content: "\f153"; }
.flaticon-padlock11:before { content: "\f154"; }
.flaticon-small81:before { content: "\f155"; }
.flaticon-control3:before { content: "\f156"; }
.flaticon-book46:before { content: "\f157"; }
.flaticon-random:before { content: "\f158"; }
.flaticon-approved:before { content: "\f159"; }
.flaticon-2417:before { content: "\f15a"; }
.flaticon-certificate6:before { content: "\f15b"; }
.flaticon-information-button-1:before { content: "\f15c"; }
.flaticon-exclamation8:before { content: "\f15d"; }
.flaticon-exchange1:before { content: "\f15e"; }
.flaticon-stop23:before { content: "\f15f"; }
.flaticon-football95:before { content: "\f160"; }
.flaticon-sync:before { content: "\f161"; }
.flaticon-log2:before { content: "\f162"; }
.flaticon-sd4:before { content: "\f163"; }
.flaticon-cpu1:before { content: "\f164"; }
.flaticon-brickwall:before { content: "\f165"; }
.flaticon-plug10:before { content: "\f166"; }
.flaticon-network26:before { content: "\f167"; }
.flaticon-firewall8:before { content: "\f168"; }
.flaticon-server20:before { content: "\f169"; }
.flaticon-link16:before { content: "\f16a"; }
.flaticon-data26:before { content: "\f16b"; }
.flaticon-shield54:before { content: "\f16c"; }
.flaticon-plug13:before { content: "\f16d"; }
.flaticon-pci1:before { content: "\f16e"; }
.flaticon-tools6:before { content: "\f16f"; }
.flaticon-arrow476:before { content: "\f170"; }
.flaticon-delete30:before { content: "\f171"; }
.flaticon-arrow484:before { content: "\f172"; }
.flaticon-floppy13:before { content: "\f173"; }
.flaticon-minus24:before { content: "\f174"; }
.flaticon-check34:before { content: "\f175"; }
.flaticon-arrow494:before { content: "\f176"; }
.flaticon-text70:before { content: "\f177"; }
.flaticon-arrow506:before { content: "\f178"; }
.flaticon-plus33:before { content: "\f179"; }
.flaticon-electric38:before { content: "\f17a"; }
.flaticon-hard10:before { content: "\f17b"; }
.flaticon-multiple25:before { content: "\f17c"; }
.flaticon-user84:before { content: "\f17d"; }
.flaticon-electric40:before { content: "\f17e"; }
.flaticon-data39:before { content: "\f17f"; }
.flaticon-computer111:before { content: "\f180"; }
.flaticon-computers3:before { content: "\f181"; }
.flaticon-user106:before { content: "\f182"; }
.flaticon-plugs1:before { content: "\f183"; }
.flaticon-tachometer:before { content: "\f184"; }
.flaticon-updated:before { content: "\f185"; }
.flaticon-hosting1:before { content: "\f186"; }
.flaticon-cloud305:before { content: "\f187"; }
.flaticon-world:before { content: "\f188"; }
.flaticon-waiting2:before { content: "\f189"; }
.flaticon-pinterest34:before { content: "\f18a"; }
.flaticon-arrow164:before { content: "\f18b"; }
.flaticon-ports:before { content: "\f18c"; }
.flaticon-bird4:before { content: "\f18d"; }
.flaticon-progress2:before { content: "\f18e"; }
.flaticon-increasing:before { content: "\f18f"; }
.flaticon-scheme4:before { content: "\f190"; }
.flaticon-technology-4:before { content: "\f191"; }
.flaticon-previous2:before { content: "\f192"; }
.flaticon-machine2:before { content: "\f193"; }
.flaticon-technology-5:before { content: "\f194"; }
.flaticon-cpu:before { content: "\f195"; }
.flaticon-1004:before { content: "\f196"; }
.flaticon-plugs2:before { content: "\f197"; }
.flaticon-calculation:before { content: "\f198"; }
.flaticon-students11:before { content: "\f199"; }
.flaticon-three104:before { content: "\f19a"; }
.flaticon-hierarchical8:before { content: "\f19b"; }
.flaticon-global10:before { content: "\f19c"; }
.flaticon-gear24:before { content: "\f19d"; }
.flaticon-call36:before { content: "\f19e"; }
.flaticon-delivery39:before { content: "\f19f"; }
.flaticon-one31:before { content: "\f1a0"; }
.flaticon-deviation:before { content: "\f1a1"; }
.flaticon-flamingo3:before { content: "\f1a2"; }
.flaticon-falcon:before { content: "\f1a3"; }
.flaticon-earth189:before { content: "\f1a4"; }
.flaticon-person295:before { content: "\f1a5"; }
.flaticon-download105:before { content: "\f1a6"; }
.flaticon-destination-point:before { content: "\f1a7"; }
.flaticon-location:before { content: "\f1a8"; }
.flaticon-line-separator:before { content: "\f1a9"; }
.flaticon-tube-queue:before { content: "\f1aa"; }
.flaticon-destination:before { content: "\f1ab"; }
.flaticon-discuss-issue:before { content: "\f1ac"; }
.flaticon-people:before { content: "\f1ad"; }
.flaticon-rectangles:before { content: "\f1ae"; }
.flaticon-chat:before { content: "\f1af"; }
.flaticon-gavel:before { content: "\f1b0"; }
.flaticon-signs:before { content: "\f1b1"; }
.flaticon-business:before { content: "\f1b2"; }
.flaticon-four-layers:before { content: "\f1b3"; }
.flaticon-connection:before { content: "\f1b4"; }
.flaticon-four-leaf-clover-and-horseshoe:before { content: "\f1b5"; }
.flaticon-sms-message:before { content: "\f1b6"; }
.flaticon-accounting:before { content: "\f1b7"; }
.flaticon-airport:before { content: "\f1b8"; }
.flaticon-copyright:before { content: "\f1b9"; }
.flaticon-maintenance:before { content: "\f1ba"; }
.flaticon-eye:before { content: "\f1bb"; }
.flaticon-quality:before { content: "\f1bc"; }
.flaticon-solution:before { content: "\f1bd"; }
.flaticon-lua-file-format-symbol:before { content: "\f1be"; }
.flaticon-api:before { content: "\f1bf"; }
.flaticon-antenna:before { content: "\f1c0"; }
.flaticon-shark:before { content: "\f1c1"; }
.flaticon-shark-1:before { content: "\f1c2"; }
.flaticon-balance:before { content: "\f1c3"; }
.flaticon-database:before { content: "\f1c4"; }
.flaticon-artificial-intelligence:before { content: "\f1c5"; }
.flaticon-chip:before { content: "\f1c6"; }
.flaticon-artificial-intelligence-1:before { content: "\f1c7"; }
.flaticon-unlocked:before { content: "\f1c8"; }
.flaticon-router:before { content: "\f1c9"; }
.flaticon-hub:before { content: "\f1ca"; }
.flaticon-router-1:before { content: "\f1cb"; }
.flaticon-lan:before { content: "\f1cc"; }
.flaticon-network:before { content: "\f1cd"; }
.flaticon-computer:before { content: "\f1ce"; }
.flaticon-cloud-computing-1:before { content: "\f1cf"; }
.flaticon-saas:before { content: "\f1d0"; }